* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	padding: 10px;
}

#instructions {
	font-size: 15px;
	opacity: 0.4;
	margin-top: 90px;
}

.settingsBtn {
	width: 30px;
	height: 30px;
	opacity: 0.3;
}

#settings {
	width: 90%;
}

.settings-main {
	width: 150px;
}

input, .calibrate {
	margin-top: 10px;
}

input {
	width: 100px;
}

img {
	margin-top: 50px;
}

#sensitivityCanvas {
	margin-top: 10px;
}

p {
	float: left;
}

.note {
	margin-top: 10px;
}