* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	padding: 10px;
}

#canvas {
	margin: -10px;
}

.settingsBtn {
	width: 30px;
	height: 30px;
}

#settings {
	position: absolute;
	width: 100%;
}

.settings-main {
	width: 150px;
}

input, .calibrate {
	margin-top: 10px;
}

input {
	width: 100px;
}

img {
	margin-top: 50px;
}